<h1>Login</h1>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>User name </label>
      <input ngModel required #refUserName="ngModel" #username name="first" type="text" class="form-control" placeholder="Type your username" />
      <br>
      <span *ngIf="refUserName.touched && refUserName.invalid" class="alert alert-danger">User name is required</span>
    </div>
    <div class="form-group col-md-6">
      <label> Password</label>
        <input ngModel required #refPass="ngModel" #pass type="password" name="last" class="form-control" placeholder="Type your password"/>
    </div>
  </div>

  <div class="form-row">
    <button  (click)="login(username.value,pass.value)" type="button">Login</button>
  </div>
  <br>
  <div id="createAccount" >dont have account?<a> create new here</a></div>
</form>
<div id="Footer"></div>
