<div class="panel">
   <h1>My Profile:</h1>
</div>
<div class="main">
  <div class="box">
  <img src="assets/profile2.webp" alt="Profile-Image" class="profileImg">
    <h2>Welcome,</h2>
    <div id="con"></div>
  </div>

  <h3 style="text-align: center;">Favorites:</h3>

  <div class="box2">

    <div class="card">
      <img src="assets/profile1.jpg" alt="Avatar" class="avatar">
      <h4>Martha Stewart</h4>
      <p>Advertising and Marketing</p>
      <p><b>Status:</b> Looking for job</p>
    </div>
    <div class="card">
      <img src="assets/profile1.jpg" alt="Avatar" class="avatar">
      <h4>Kenny Shwartzman</h4>
      <p>Head Engineer F1</p>
      <p><b>Status:</b> Looking for job</p>
    </div>
    <div class="card">
      <img src="assets/profile1.jpg" alt="Avatar" class="avatar">
      <h4>Ivgeni Jopoteas</h4>
      <p>Accountant</p>
      <p><b>Status:</b> Currently hired</p>
    </div>

    <app-weather style="padding-left: 80px" class="weather"></app-weather>

  </div>

  </div>